/*================================================================================================
    Start Breadcrumbs CSS
===================================================================================================*/

.bredcrumbs.style2 {
  padding: 160px 0px;
}
.breadcrumb-content .title {
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  color: var(--white-color);
  margin-bottom: 16px;
}
.bredcrumb-menu {
  background: #f6f5f3;
  padding: 16px 48px;
}

.bredcrumb-menu li {
  display: inline-block;
  margin-right: 12px;
  padding-right: 12px;
  position: relative;
}

.bredcrumb-menu li:last-child {
  margin: 0;
  padding: 0;
}

.bredcrumb-menu li::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 16px;
  background: var(--title-color);
  right: -1px;
  top: 8px;
}
.bredcrumb-menu li:last-child::before {
  display: none;
}
.bredcrumb-menu li a {
  color: var(--title-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  transition: all 0.3s ease;
}
.bredcrumb-menu li.active a,
.bredcrumb-menu li a:hover {
  color: var(--primary-color);
}

/* Menu Style 2  */
.bredcrumb-menu.style2 {
  background: transparent;
  padding: 0px;
}

.bredcrumb-menu.style2 li {
  margin-right: 8px;
  padding-right: 8px;
}

.bredcrumb-menu.style2 li a {
  color: var(--white-color);
  font-weight: 600;
  line-height: 28px;
}

.bredcrumb-menu.style2 li.active a,
.bredcrumb-menu.style2 li a:hover {
  color: var(--white-color);
  text-decoration: underline;
}

.bredcrumb-menu.style2 li::before {
  content: "/";
  width: auto;
  height: auto;
  background: transparent;
  right: -4px;
  top: 4px;
  color: var(--white-color);
  font-size: 18px;
}

@media only screen and (min-width: 768px) and (max-width: 1199.99px) {
  .bredcrumbs.style2 {
    padding: 80px 0px;
  }
  .breadcrumb-content .title {
    font-size: 48px;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 767.99px) {
  .bredcrumbs.style2 {
    padding: 56px 0px;
  }
  .breadcrumb-content .title {
    font-size: 32px;
    line-height: 120%;
    margin-bottom: 12px;
  }
  .bredcrumb-menu {
    padding: 16px 20px;
  }
  .bredcrumb-menu.style2 {
    text-align: center;
  }
  .bredcrumb-menu li a {
    font-size: 16px;
    line-height: 120%;
  }
  .bredcrumb-menu li::before {
    top: 4px;
  }
}

/*================================================================================================
    End Breadcrumbs CSS
===================================================================================================*/
