/*================================================================================================
    Start Header CSS
===================================================================================================*/

/* Topbar  */
.topbar {
  background: #f5f6f7;
  padding: 8px 0px;
  z-index: 999;
  position: relative;
}

.topbar-data ul li {
  display: inline-block;
  margin-right: 60px;
}
.topbar-data ul li:last-child {
  margin: 0;
}
.topbar-data li a {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--title-color);
  font-weight: 400;
  line-height: 24px;
}

.topbar-data li a i {
  font-size: 16px;
  top: 2px;
  position: relative;
}
.topbar-data li a:hover {
  color: var(--primary-color);
}

/* Topbar Style 2 */
.topbar-style2 {
  background: var(--white-color);
  padding: 18px 0px;
}

.topbar-style2 .topbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topbar-style2 .topbar-links li {
  display: inline-block;
  margin-right: 16px;
  padding-right: 16px;
  position: relative;
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.topbar-style2 .topbar-links li:last-child {
  margin: 0;
  padding: 0;
}
.topbar-style2 .topbar-links li:last-child::before {
  display: none;
}
.topbar-style2 .topbar-links li a:hover {
  color: var(--primary-color);
}
.topbar-style2 .topbar-links li::before {
  position: absolute;
  content: "/";
  right: -3px;
  top: 0px;
}
.topbar-inner p {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.topbar-social li {
  display: inline-block;
  margin-right: 24px;
  padding-right: 24px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--title-color);
}

.topbar-social li:last-child {
  margin: 0;
  padding: 0;
}

.topbar-social li::before {
  position: absolute;
  content: "|";
  right: 0;
  top: 0;
  color: #ccc;
}

.topbar-social li {
  position: relative;
}

.topbar-social li a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.topbar-social li a i {
  position: relative;
  top: 2px;
  font-size: 16px;
}

.topbar-social li a:hover {
  color: var(--primary-color);
}

.topbar-social li:last-child::before {
  display: none;
}

/* Header  */
.header {
  border-bottom: 1px solid #d0ccca;
  z-index: 999;
}

.header.sticky {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
  background-color: var(--white-color) !important;
  box-shadow: 0px 4px 30px 16px rgba(7, 2, 41, 0.04);
  border: none;
}

@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

.header-logo {
  border-right: 1px solid #d0ccca;
  padding-right: 40px;
  height: 98px;
  line-height: 98px;
}
.header-logo img {
  max-width: 140px;
}
.header-nav-menu li {
  display: inline-block;
  margin-right: 24px;
}
.header-nav-menu li:last-child {
  margin: 0;
}
.header-nav-menu li a {
  color: var(--title-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 20.16px;
  text-transform: uppercase;
  padding: 38px 0px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-nav-menu li a i {
  font-size: 18px;
  position: relative;
  top: 2px;
}
.header-nav-menu li a:hover,
.header-nav-menu li:hover > a,
.header-nav-menu li.active a {
  color: var(--primary-color);
}

/* DropDown Menu */
.header-nav-menu li:hover > .sub-menu {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.header-nav-menu li .sub-menu {
  position: absolute;
  background: var(--white-color);
  min-width: 240px;
  transition: all 0.3s ease-out 0s;
  top: 100%;
  opacity: 0;
  box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05);
  visibility: hidden;
  z-index: 99;
  text-align: left;
  transform: scaleY(0);
  transform-origin: 0 0;
  border-radius: 0px 0px 8px 8px;
  overflow: hidden;
  border-top: 2px solid var(--primary-color);
  padding: 10px 0;
}
.header-nav-menu li .sub-menu li {
  display: block;
  margin: 0;
  position: relative;
}
.header-nav-menu li .sub-menu li a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--paragraph-color);
  padding: 12px 20px !important;
  transition: all 0.4s ease-out 0s;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  background: transparent !important;
}
.header-nav-menu li .sub-menu li:hover > a,
.header-nav-menu li .sub-menu li.active a {
  color: var(--primary-color);
  padding-left: 25px;
}
.header-nav-menu li .sub-menu li.active::after {
  height: 100%;
}
.header-nav-menu li .sub-menu li:hover:after {
  height: 100%;
}
.header-nav-menu li .sub-menu li:last-child {
  border: none;
}

.header-actions {
  border-left: 1px solid #d0ccca;
  padding-left: 40px;
  height: 98px;
  line-height: 98px;
}
.header-actions .theme-btn {
  height: 52px;
}

/* Header Style2  */
.header-style2 {
  border-bottom: none;
  background-color: var(--white-color);
}
.header-logo.style-2 {
  border-right: none;
  padding-right: 0;
  height: auto;
  line-height: 0;
}

.header-nav-menu.style-2 li a {
  line-height: 23px;
}
.header-actions.style-2 {
  border-left: 0;
  padding-left: 0;
  height: auto;
  line-height: 0;
}

/* Header Style3  */
.header.header-style3 {
  background-color: var(--white-color);
  border: none;
  border-top: 1px solid #ccc;
}
.header-style3 .header-nav-menu li a {
  padding: 37px 0px;
}

.header-style3 .header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-style3 .header-actions-buttons a {
  width: 56px;
  height: 56px;
  line-height: 58px;
  font-size: 18px;
  background: #efeae7;
  border-radius: 100%;
  text-align: center;
}

.header-actions-buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-actions-buttons a:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.header-style3 .header-actions .theme-btn {
  padding: 16px 30px;
  border-radius: 50px;
  height: 56px;
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
  .header-style3 .header-actions {
    display: none;
  }
}

@media only screen and (max-width: 1199.99px) {
  .header {
    padding: 18px 0px;
  }
  .header-logo {
    height: auto;
    line-height: 0;
    border: none;
    padding: 0;
  }
  .header-nav,
  .header-actions {
    display: none;
  }
  .topbar-inner p,
  .header-style3 .header-actions {
    display: none;
  }
}

@media only screen and (max-width: 767.99px) {
  .topbar-data,
  .topbar-data.text-end {
    text-align: center !important;
  }
  .topbar-data ul li {
    margin-right: 16px;
  }
  .topbar-inner p {
    display: none;
  }
  .topbar-style2 .topbar-inner {
    text-align: center;
    display: block;
  }
  .topbar-social li {
    margin-right: 16px;
    padding-right: 16px;
  }
  .topbar-social {
    margin-top: 12px;
  }
  .header-style3 .header-actions {
    display: none;
  }
}

/*================================================================================================
    End Header CSS
===================================================================================================*/
